#myForm {
    position: fixed;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
#myForm fieldset {
    display: inline-block;
}
#myForm .for-input {
    margin-bottom: 5px;
}
#myForm .for-input label {
    display: block;
    font-weight:bold;
}
#myForm input {
    border: 1px solid #9e9e9e;
}
#myForm input.error {
    border: 1px solid red;
}
#myForm .success {
    color: green;
}
#myForm .error {
    color: red;
}
#myForm .progress {
    color: gray;
}